.homepage-container {
    width: 850px;
    margin: 0 auto;
}

.homepage-container h1 {
    margin: 1em 0em;
}

.shop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.top-container {
    position: relative;
}

.top-container .shop-logo {
    position: absolute;
    left: 10px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 2;
}

.shop-card {
    width: 275px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shop-card img {
    width: auto;
    height: 150px;
    object-fit: cover;
}

.shop-card {
    text-decoration: none;
}

.shop-card .bottom-container {
    color: black;
    text-decoration: none;
    padding: 0.75em;
}

.shop-card .bottom-container h5 {
    font-size: 1.15rem;
    font-weight: 700;
}

.shop-card .bottom-container span {
    font-size: 0.75rem;
    font-weight: 400;
}
