.products-view-container {
    height: 480px;
    display: flex;
    flex-direction: column;
}

.products-view-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.55em;
}

.products-view-header button {
    background-color: green;
}

.products-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em 2em;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
}

.product-card {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 0.25em;
}

.product-card img {
    border-radius: 0.25em 0.25em 0em 0em;
}

.product-information-container {
    padding: 1em 0.25em;
    display: flex;
    justify-content: space-between;
}
